header {
    background-color:var(--yellow);
    width: 100%;
    padding: 1.75rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size:1.4rem;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li a {
    margin-right: 28px;
    text-decoration: none;
}

.pageContent {
    padding: 2rem;
}

@media screen and (max-width: 500px) {
    .pageContent {
        padding: 1rem;
    }
    /* .sign-out-btn {
        display: none;
    } */
    header a {
        margin-right: 30px;
    }
}