@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --yellow: #FFC857;
  --green: #59CD90;
  --blue: #36558F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fdfdfd
}

a,
a:visited {
  color:black;
  text-decoration: none;
}

a:hover { cursor: pointer; }

.btn {
  background-color:#f9f9f9;
  padding: .75rem 1.2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--blue);
  border-radius: 0.25rem;
  margin: 20px 0;
  font-weight: 700;
  color:#fff;
}

.btn-yellow {
  background-color: var(--yellow);
  border-radius: 0.25rem;
  margin: 20px 0;
  font-weight: 700;
}